version: '3.7'
services: 
  terraform:
    build:
      context: .
      dockerfile: terraform.dockerfile
    volumes:
      - $PWD:/app
    working_dir: /app
  selenium:
    image: selenium/standalone-chrome-debug
    ports:
      - 4444:4444
      - 5901:5900 #VNC
  website:
    build: 
      context: .
    ports:
     - 8080:80    
  unit-tests:
    build:
      dockerfile: rspec.dockerfile
      context: .
    environment:
      SELENIUM_HOST: selenium
      SELENIUM_PORT: 4444
    volumes:
      - "$PWD:/app"
    entrypoint: rspec
    command:
      - --pattern
      - /app/spec/unit/*_spec.rb

